<div th:each="blog : ${blogList}" th:id="'blog-'+${blog.blogid}" class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a>
                    <img th:src="@{'/pics/'+ ${blog.headpic}+'.png'}"
                         style="width:100px;height:100px" alt="">
                </a>
            </div>
            <div class="media-body">
                <div>
                    <a th:href="@{'/user.html?userId='+${blog.userid}}" style="font-size: 25px">
                        [[${blog.username}]]
                    </a>
                </div>
                <div class="grey-font">
                    [[${blog.publishtime}]]
                    <a th:if="${blog.userid == user.userid}" id="delete-blog" class="cursor-pointer grey-font"
                       th:attr="blogid=${blog.blogid}">delete</a>
                </div>
                <div>
                    [[${blog.content}]]
                </div>
            </div>
        </div>
    </div>
</div>

