<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Center</title>
    <div th:replace="common/head"></div>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body>

<div th:replace="common/navbar"></div>
<div class="container ">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
        <div class="col-lg-8 col-md-8 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-body" align="center">

                    <img th:src="@{'/pics/' + ${theUser.headpic} + '.png'}"
                         style="width: 150px;height:150px" alt="">
                    <br>
                    <p style="font-size: 18px" th:text="${theUser.username}"></p>
                    <a th:if="${user != theUser}" href="follow.html?userId=${theUser.userid}">Follow</a>
                    <br>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-4" align="center">
                            <a th:href="'user.html?userId='+${theUser.userid}+'&page=0'">Blog</a>
                        </div>
                        <div class="col-md-4 col-xs-4" align="center">
                            <a th:href="'user.html?userId='+${theUser.userid}+'&page=1'">Followers</a>
                        </div>
                        <div class="col-md-4 col-xs-4" align="center">
                            <a th:href="'user.html?userId='+${theUser.userid}+'&page=2'">Followings</a>
                        </div>
                    </div>
                </div>
            </div>

            <div>

                <div th:if="${page==0}" th:replace="common/blog"></div>

                <div th:if="${page == 1 || page == 2}" th:each="f : ${follows}" class="panel panel-default">
                    <div class="panel-body">
                        <div align="center">
                            <img src="@{/pics/${f.headpic}.png}"
                                 style="width: 80px;height:80px" alt=""><br>
                            <a href="user.html?userId=${f.userid}" style="font-size: 18px">[[${f.username}]]</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-2 col-md-2 col-xs-0"></div>
    </div>
</div>
<div th:replace="common/foot"></div>
</body>
</html>

